<!DOCTYPE html>
<html>
  <head>
    <title>RebuildSearch</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="content"></div>

    <script>
      Items = <%- JSON.stringify(items) %>;
    </script>
    <script src="/javascripts/dist/app.js"></script>
  </body>
</html>

